


.background-container {
  position: relative;
  height: 60vh; /* Full height of the screen */
  background-image: url('../public/bg.png'); /* Replace with your image path */
  background-size: cover;
  background-attachment: fixed; /* Makes the background scroll with content */
  background-position: center;
  overflow: hidden;
}
/* .content{
  margin-left: 3em;
  margin-right: 3em;
} */

.content {
  padding: 0 20px; /* Adds spacing on the left and right */
  text-align: center; /* Centers the text */
  margin: 0 auto; /* Centers the content horizontally */
  max-width: 1600px; /* Optional: limit the max width for a neat look */
}
.spacing{
  margin-top: 20px;
  padding-bottom: 10px;
}
.side-spacing{
  padding: 0 20px;
}
.side-spacing2{
  padding: 0 50px;
}
.turq{
  color: #4ec1b2 !important;
}

.center-text {
  justify-content: center; /* Horizontally centers the text */
  align-items: center;     /* Vertically centers the text */
  height: 100%;            /* Ensure it takes up the full height of its container */
  text-align: center;      /* Centers text inside the element */
}

.imap{
  width: 100%;
  height: 270px;
}
.contact{
  background-color: #96969638;
}

.btn-turq{
  background-color: #4ec1b2;
  color: rgb(255, 255, 255) !important;
  border-color:#4ec1b2 !important;
}

.dark-background{
  background-color: #6d6d6d !important;
  color: white !important;
}

.anchor{
  color: black;
}
